$ColorBlack: #18121E;
$ColorGrayBlack: #1A3E3E;
$ColorLightWhite: #FDFDFD;
$ColorWhite: #ffffff;
$ColorYellow: #F2BE22;
$ColorGrayWhite: #F3F5F4;

$mainFontSize: 18;
$mainFont: "Nunito Sans 10pt";
$SecondFontNextArt: "next-art";
$containerWidth: 1180px;

$paddingPc: 100px;
$paddingTablet: 75px;
$paddingPhone: 50px;