@import "_fonts.scss";
@import "_var.scss";
@import "_mixin.scss";
@import "_templates.scss";

*, *::after, *::before {
   box-sizing: border-box;
}

.container {
   max-width: calc($containerWidth + 30px);
   padding: 0px 15px 0px 15px;
   margin: 0 auto;
}

.button {
   @extend %StyleTextButtonWhite;
   cursor: pointer;
   padding: 12px 24px;
   background: $ColorGrayBlack;
   color: $ColorLightWhite;
   border-radius: 4px;
   transition: all .5s;
   border: 1px solid transparent;
}

.button--white {
   background: $ColorLightWhite;
   color: $ColorGrayBlack;
}

.button--hover {
   @media (min-width: 769px) {

      &:hover {
         color: $ColorGrayBlack;
         border: 1px solid $ColorGrayBlack;
         background: $ColorLightWhite;
      }

   }
}

.burger-open {
   width: 34px;
   height: 18px;
   display: none;
   flex-direction: column;
   justify-content: space-between;

   @media (max-width: 1024px) {

      & {
         display: flex;
      }

   }

   span {
      display: block;
      width: 100%;
      height: 3px;
      background: $ColorWhite;
      border-radius: 50px;

      &:last-child {
         width: 50%;
         margin: 0px 0px 0px auto;
      }
   }
}

.title {
   @extend %StyleTextH2;

   span {
      display: block;
      @extend %StyleTextSubTitle;
      margin: 0px 0px 8px 0px;
   }
}

.program-form {
   border-radius: 10px;
   backdrop-filter: blur(3px);
   background: rgba($ColorWhite, $alpha: .2);
   padding: 40px 42px 40px 43px;

   @media (max-width: 864px) {

      & {
         backdrop-filter: none;
         background: none;
         padding: 0px 0px 0px 0px;
      }

   }

   &__list-inputs {
      display: flex;
      justify-content: space-between;
      gap: 24px;
   }

   &__input-box {
      display: flex;
      flex-direction: column;

      &:last-child {
         flex-shrink: 0;
      }

      &:not(:last-child) {
         flex-basis: 270px;

         @media (max-width: 864px) {

            & {
               display: none;
            }

         }
      }
   }

   &__select,
   &__input {
      border-radius: 8px;
      border: 1px solid #E1E3E4;
      padding: 15px 16px;
      @extend %StyleTextButtonWhite;
      line-height: 150%;
      background: transparent;
      position: relative;
   }

   &__select-wrapper {
      position: relative;
      margin: 0px 0px 8px 0px;

      &::after {
         @include pseudo();
         width: 40px;
         height: 40px;
         right: 0;
         top: 50%;
         transform: translate(0px, -50%);
         background: url(../images/arrow-down-select.svg) no-repeat center/center;
         z-index: -1;
      }
   }

   &__select {
      cursor: pointer;
      width: 100%;
      appearance: none;
   }

   &__input {
      margin: 0px 0px 8px 0px;

      &::placeholder {
         color: $ColorLightWhite;
      }

      &::-webkit-calendar-picker-indicator {
         color: transparent;
         opacity: 1;
         background: url(../images/date-icon.svg) no-repeat center;
         background-size: contain;
      }
   }

   &__label {
      @extend %StyleTextLabelSmall;
   }

   &__button {
      min-height: 52px;
   }
}

.burger {
   width: 100vw;
   height: 100dvh;
   position: fixed;
   top: -100%;
   overflow: auto;
   background: $ColorGrayBlack;
   transition: top .7s, height .2s;
   z-index: 5000;

   &--active {
      top: 0px;
   }

   &__top {
      padding: 16px 0px 15px 0px;
      display: flex;
      justify-content: end;
   }

   &__body {
      padding: 0px 0px 0px 16px;
   }

   &__buttons-list {
      display: flex;
      flex-direction: column;
      gap: 16px;
   }

   &__button-nav {
      @extend %StyleTextLabelSmall;
      line-height: 128%;
      padding: 0px 0px 0px 16px;
      position: relative;

      &::before {
         @include pseudo();
         width: 6px;
         height: 10px;
         top: 0px;
         left: -8px;
         background: url(../images/arrow-burger-button.svg) no-repeat 100%/100%;
      }
   }
}

.close-button {
   width: 14px;
   height: 14px;
}

.body-lock {
   overflow: hidden;
}

.slider {
   width: 100%;

   &__line {
      display: flex;
   }

   img {
      pointer-events: none
   }
}

.card-price {
   flex: 1 1;
   min-height: 500px;
   position: relative;
   border-radius: 32px;
   overflow: hidden;

   @media (max-width: 1088px) {

      & {
         min-height: 400px;
      }

   }

   @media (max-width: 1000px) {

      & {
         flex: 0 1 400px;
      }

   }

   &__background {
      top: 0px;
      left: 0px;
      z-index: -1;
      border-radius: 32px;
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
   }

   &__rating {
      @extend %StyleTextLabelSmall;
      position: absolute;
      top: 57px;
      right: 0;
      line-height: 128%;
      color: $ColorBlack;
      padding: 4px 8px 4px 36px;
      border-radius: 4px 0px 0px 4px;
      background: rgba(253, 253, 253, 0.40);
      backdrop-filter: blur(2px);

      &::before {
         @include pseudo();
         top: 50%;
         left: 8px;
         transform: translate(0px, -50%);
         width: 24px;
         height: 24px;
         background: url(../images/price-card-star.svg);
      }
   }

   &__bottom {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 0;
      backdrop-filter: blur(3px);
      width: 100%;
      height: 100%;
      transition: all .5s;
   }

   &__bottom-box {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      padding: 20px 32px 38px 32px;

      @media (max-width: 425px) {

         & {
            padding: 23px 24px 24px 24px;
            align-items: center;
         }

      }
   }

   &__title {
      @extend %StyleTextSubTitle;
      color: $ColorLightWhite;
      line-height: 120%;

      @media (max-width: 1088px) {

         & {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: rem(18);
         }

      }

      span {
         display: block;
         @extend %StyleTextLabelSmall;
         line-height: 128%;

         @media (max-width: 1169px) {

            & {
               display: none;
            }

         }
      }
   }

   &__cost {
      color: $ColorLightWhite;
      font-family: $mainFont;
      font-size: rem(20);
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 54px;
      padding: 8px 16px 8px 16px;
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.30);

      @media (max-width: 1088px) {

         & {
            font-size: rem(16);
            padding: 6px 12px 6px 12px;
         }

      }
   }

   &__description {
      @extend %StyleTextButtonWhite;
      margin: 0px 32px 0px 32px;
   }

   &__button {
      display: block;
      margin: auto 0px 32px 32px;
      align-self: flex-start;
   }
}

.new {
   display: flex;
   gap: 24px;
   background: $ColorLightWhite;
   border-radius: 10px;
   padding: 16px;
   height: 296px;
   justify-content: space-between;

   &__image-wrapper {
      flex: 0.8 1;
      border-radius: 6px;
   }

   &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 6px;
   }

   &__inner {
      flex: 1 1;
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 16px 0px 16px 0px;
   }

   &__title {
      flex: 0 0;
      color: $ColorBlack;
      font-family: $mainFont;
      font-size: rem(24);
      font-weight: 700;
      line-height: 133.333%;
      cursor: pointer;

      @media (min-width: 769px) {

         &:hover {
            text-decoration-line: underline
         }

      }
   }

   &__text {
      flex: 1 1;
      color: $ColorBlack;
      @extend %StyleTextLabelSmall;
   }

   &__bottom {
      flex: 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: auto 0px 0px 0px;
   }

   &__time {
      @extend %StyleTextSubTitle;
      font-size: rem(14);
   }

   &__link {
      font-family: $mainFont;
      font-size: rem(14);
      font-weight: 700;
      line-height: 142.857%;
      text-decoration: none;
      color: $ColorBlack;
   }


   &__button {}
}

@import "blocks/header";
@import "blocks/main-page";
@import "blocks/about";
@import "blocks/programs";
@import "blocks/price";
@import "blocks/blog";