.price {
   padding: $paddingPc 0px $paddingPc 0px;

   @media (max-width: 768px) {

      & {
         padding: $paddingTablet 0px $paddingTablet 0px;
      }

   }

   @media (max-width: 425px) {

      & {
         padding: $paddingPhone 0px $paddingPhone 0px;
      }

   }

   &__container {
      display: flex;
      gap: 50px;
      flex-direction: column;

      @media (max-width: 1000px) {
      
         & {
            gap: 32px;
         }
      
      }
   }

   &__title {
      margin: 0 auto;
      text-align: center;
   }

   &__list-cards {
      display: flex;
      gap: 20px;
      justify-content: space-between;

      @media (max-width: 1000px) {
      
         & {
            flex-wrap: wrap;
         }
      
      }

      @media (max-width: 1000px) {
      
         & {
            justify-content: center;
         }
      
      }

      @media (max-width: 850px) {
      
         & {
            display: none;
         }
      
      }
   }

   &__slider {
      display: none;

      @media (max-width: 850px) {
      
         & {
            display: block;
         }
      
      }
   }
   
   &__button {
      align-self: center;
   }
}